.form {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: center;
    padding: 2em 2em 4em;
    width: 100%;
}

.title {
    margin: 0.5em 0;
    font-size: var(--size-xxxl);
}

.loginInfo {
    position: absolute;
    top: 4%;
    right: 4%;
    width: 40px;
    height: 40px;
    font-size: 2.5em;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    background-color: var(--hightlight);
    color: var(--text);
    transition: background-color 0.3s;
}

.loginInfo:hover {
    background-color: #17a129;
}

.loginModal {
    position: absolute;
    top: -60px;
    left: -120px;
    width: 400px;
    font-size: 1.6rem;
    line-height: 25px;
    background-color: #17a129;
    border-radius: 12px;
    padding: 0.5em;
    transform: scale(0);
    transition: transform 0.3s;
}

.loginInfo:hover > .loginModal {
    transform: scale(1);
}

.box {
    margin-top: 2em;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.label {
    font-size: var(--size-xxxm);
    align-self: start;
    margin-left: 2.5em;
}

.input {
    width: 80%;
    padding: 1em 2em;
    border-radius: 8px;
    margin-top: 1.4em;
    font-size: var(--size-xxm);
    background-color: var(--lighter-main);
    color: var(--text);
    border: none;
}

.input::placeholder {
    color: var(--text);
}

.button {
    width: 80%;
    padding: 0.8em;
    border-radius: 8px;
    margin-top: 2em;
    font-size: var(--size-xxxm);
    background-color: var(--hightlight);
    color: var(--text);
    border: none;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #17a129;
}

.error {
    color: var(--red);
    font-size: var(--size-xxm);
    font-weight: bold;
    margin-top: 0.6em;
}
