.head tr {
	background-color: var(--primary);
}

.head th {
	width: 200px;
	height: 60px;
	font-size: var(--size-xm);
	border: 1px solid var(--text);
	padding: 0.6em;
}

@media (min-width: 1600px) {
	.head th {
		font-size: var(--size-xl);
		height: 80px;
		width: 300px;
		padding: 1em;
	}
}
