.head tr {
	background-color: var(--primary);
}

.head th {
	width: 200px;
	height: 60px;
	font-size: var(--size-xm);
	border: 1px solid var(--text);
}

@media (min-width: 1600px) {
	.head th {
		height: 80px;
		width: 300px;
	}
}
