.modal {
	position: absolute;
	bottom: 120%;
	min-width: 200px;
	display: flex;
	flex-direction: column;
	padding: 1em 2em;
	background-color: var(--text);
	z-index: 999;
	border-radius: 12px;
	border: none;
}

.modal span {
	font-weight: 400;
	font-size: var(--size-xm);
	color: #000000;
}

.modal b {
	margin-left: 0.2em;
}

@media (min-width: 1600px) {
	.modal {
		min-width: 250px;
	}

	.modal span {
		font-size: var(--size-xxm);
	}
}
