.container {
	padding: 1em;
	display: flex;
	flex-direction: column;
	min-width: 300px;
	min-height: 250px;
	align-items: center;
}

.header {
	margin-top: 1em;
	font-size: var(--size-xvl);
	text-align: center;
	color: var(--hightlight);
}

.list {
	margin-top: 1em;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}