.item {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 1000px;
	width: 90%;
	margin: 2em auto;
	background-color: var(--lighter-main);
	border-radius: 8px;
	transition: background-color 0.3s;
}

.item:hover {
	background-color: rgba(118, 147, 184, 0.664);
}

.img {
	margin-left: 2em;
	object-fit: cover;
	width: 30%;
	min-width: 100px;
	min-height: 100px;
	max-width: 100px;
	max-height: 100px;
	border-radius: 50%;
}

.content {
	width: 800px;
	padding: 3em;
}

.text {
	padding: 1em;
	font-size: var(--size-xxm);
}

.box {
	margin-top: 1em;
	padding: 1em 2em;
	display: flex;
	align-items: baseline;
	justify-content: space-between;
	color: var(--pure-white);
}

.info {
	font-size: var(--size-xxxm);
}

@media (min-width: 1600px) {
	.item {
		max-width: 1200px;
	}

	.content {
		width: 950px;
	}

	.text {
		font-size: var(--size-xxxm);
	}

	.info {
		font-size: var(--size-l);
	}
}
