*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	min-height: 100vh;
	max-height: 100vh;
	width: 100%;
	font-family: 'Lato', sans-serif;
	background-color: var(--primary);
	color: var(--text);
}

button {
	font: inherit;
	border: none;
	cursor: pointer;
}

input,
label {
	font: inherit;
}

a {
	text-decoration: none;
	color: var(--text);
}

#__next {
	position: relative;
	min-height: 100vh;
	max-height: 100vh;
	width: 100%;
}

:root {
	--primary: #1b263b;
	--secondary: #304a68;
	--lighter-main: #4b698b;
	--text: #e0e1dd;
	--hightlight: #04b38e;
	--red: #f51515;
	--warning: #dcec23;
	--pure-white: #ffffff;
	--pure-black: #000000;
	--size-s: 0.25rem;
	--size-xs: 0.5rem;
	--size-xxs: 0.75rem;
	--size-xxxs: 1rem;
	--size-m: 1.25rem;
	--size-xm: 1.5rem;
	--size-xxm: 1.75rem;
	--size-xxxm: 2rem;
	--size-l: 2.25rem;
	--size-xl: 2.5rem;
	--size-xxl: 2.75rem;
	--size-xxxl: 3rem;
	--size-vl: 3.25rem;
	--size-xvl: 3.5rem;
	--size-xxvl: 3.75rem;
	--size-xxxvl: 4rem;
}
