*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	min-height: 100vh;
	position: relative;
	font-family: 'Montserrat', sans-serif;
	font-family: 'Lato', sans-serif;
	background-color: var(--primary);
	color: var(--text);
}

button {
	font: inherit;
	border: none;
	cursor: pointer;
}

input,
label {
	font: inherit;
}

:root {
	--primary: rgb(241, 241, 236);
	--secondary: rgb(0, 0, 0);
	--special: rgb(51, 218, 9);
	--menu: rgb(16, 83, 0);
	--greylish: rgb(129, 126, 129);
	--alert: rgb(245, 21, 21);
	--shopping: rgb(239, 210, 108);
}
