.main {
	height: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.content {
	display: flex;
	justify-content: center;
	align-items: center;
}

.card {
	min-width: 700px;
	max-width: 90%;
	max-height: 90vh;
	background-color: var(--secondary);
	border-radius: 12px;
	overflow: hidden;
	overflow-y: auto;
}
