.main {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 2em 2em 4em;
}

.title {
	font-size: var(--size-xxxvl);
}

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	align-self: start;
	margin-left: 3em;
	width: 500px;
	height: 60px;
	background-color: var(--secondary);
	color: var(--pure-white);
	border-radius: 12px;
	font-size: var(--size-xxxm);
	transition: background-color 0.3s;
}

.button:hover {
	background-color: var(--lighter-main);
}

.button span {
	margin-right: 4em;
	text-transform: uppercase;
}

.button img {
	margin-right: 2em;
}
