.container {
	padding: 1em;
}

.header {
	margin-top: 1em;
	font-size: var(--size-xvl);
	text-align: center;
	color: var(--hightlight);
}

.list {
	justify-content: center;
	align-items: center;
	display: flex;
	flex-wrap: wrap;
}
