.item {
	display: flex;
	flex-direction: column;
	width: 90%;
	max-width: 700px;
	height: 100%;
	margin: 4em;
	padding-bottom: 1em;
	background-color: var(--lighter-main);
	border-radius: 8px;
	cursor: pointer;
	transition: background-color 0.3s;
}

.item:hover {
	background-color: rgba(118, 147, 184, 0.664);
}

.img {
	object-fit: cover;
	width: 100%;
	max-height: 350px;
	border-top-right-radius: 8px;
	border-top-left-radius: 8px;
}

.content {
	padding: 3em;
}

.title {
	font-size: var(--size-xl);
	font-weight: 400;
	text-align: center;
	margin-bottom: 0.6em;
	color: var(--pure-white);
}

.text {
	padding: 1em;
	font-size: var(--size-xxm);
}

.box {
	margin-top: 1em;
	padding: 1em 2em;
	display: flex;
	align-items: baseline;
	justify-content: space-between;
	color: var(--pure-white);
}

.info {
	font-size: var(--size-xxxm);
}

@media (min-width: 1600px) {
	.item {
		width: 45%;
		align-self: start;
	}

	.img {
		min-height: 350px;
	}
}
